<form [formGroup]="bookmarkForm" class="grid gap-4 md:gap-6">
  <div class="rounded h-3/4">
    @if (previewImage) {
    <img
      id="ImgPreview"
      class="w-full h-64 border-gray-300 border-dashed rounded-lg object-cover"
      [src]="previewImage"
      alt="" />
    } @else {
    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            SVG, PNG, JPG or GIF (MAX. 800x400px)
          </p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          class="hidden"
          (change)="onFileSelected($event)"
          #fileInput />
      </label>
    </div>
    }
  </div>

  <div class="space-y-1">
    <label for="txtTitle" class="block font-medium text-gray-900 dark:text-white">Title</label>
    <input formControlName="title" pInputText id="txtTitle" class="w-full" />
    @if (bookmarkForm.get('title')?.dirty || bookmarkForm.get('title')?.touched) { @if
    (bookmarkForm.get('title')?.hasError('required')) {
    <p class="mt-1 text-sm text-red-600 dark:text-red-500">Please enter title.</p>
    } }
  </div>

  <div class="space-y-1">
    <label for="txtLink" class="block font-medium text-gray-900 dark:text-white">Link</label>
    <input formControlName="link" pInputText type="url" id="txtLink" class="w-full" />
    @if (bookmarkForm.get('link')?.dirty || bookmarkForm.get('link')?.touched) { @if
    (bookmarkForm.get('link')?.hasError('required')) {
    <p class="mt-1 text-sm text-red-600 dark:text-red-500">Please enter link.</p>
    } }
  </div>

  <div class="space-y-1">
    <label for="txtUrl" class="block font-medium text-gray-900 dark:text-white">Tags</label>
    <input
      formControlName="tags"
      pInputText
      type="url"
      id="txtUrl"
      class="w-full"
      (keyup.enter)="onAddTag()" />

    @for (tag of tags; track $index) {
    <span
      id="badge-dismiss-default"
      class="inline-flex items-center px-2 py-1 me-2 mb-2 text-sm font-medium text-orange-800 bg-orange-100 rounded dark:bg-orange-900 dark:text-orange-300">
      {{ tag }}
      <button
        type="button"
        class="inline-flex items-center p-1 ms-2 text-sm text-orange-400 bg-transparent rounded-sm hover:bg-orange-200 hover:text-orange-900 dark:hover:bg-orange-800 dark:hover:text-orange-300"
        data-dismiss-target="#badge-dismiss-default"
        aria-label="Remove"
        (click)="removeTag(tag)">
        <svg
          class="w-2 h-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Remove badge</span>
      </button>
    </span>
    }
  </div>

  <div class="space-y-1">
    <label for="txtDescription" class="block font-medium text-gray-900 dark:text-white">
      Description
    </label>
    <textarea
      formControlName="description"
      pTextarea
      id="txtDescription"
      class="w-full"
      rows="5"></textarea>
  </div>
</form>

<div class="flex justify-end gap-2">
  <p-button label="Cancel" [variant]="'text'" severity="secondary" (click)="onCancel()" />
  <p-button
    label="{{ isSaving ? (id ? 'Updating...' : 'Saving...') : id ? 'Update' : 'Save' }}"
    [loading]="isSaving"
    [disabled]="isSaving || bookmarkForm.invalid"
    (click)="onAdd()">
  </p-button>
</div>

<!-- <pre>{{ bookmarkForm.value | json }}</pre> -->
<!-- <pre>{{ bookmarkForm.invalid | json }}</pre> -->
