@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

:root {
  /* --theme-primary: #6d1bab;
  --theme-primary-light: #faf2ff;
  --theme-background: #f7f8fa; */

  /* Route progressbar */
  --ng-progress-color: #ff5900;
  --ng-progress-thickness: 4;
}

html {
  font-size: 13px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
}
