<mat-toolbar color="primary" class="h-[3.2rem]">
  <span class="flex items-center font-normal text-white">
    <mat-icon class="me-1">stars</mat-icon> Bookmarks
  </span>

  <!-- Spacer -->
  <span class="flex flex-grow"></span>

  <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
  <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>