<div class="flex flex-col min-h-[calc(100vh-10rem)]">
  <div
    class="w-[92vw] md:w-11/12 lg:w-8/12 mx-auto my-2 md:my-2 bg-white rounded-md shadow border border-gray-200 p-10">
    <h4 class="text-xl font-medium mb-4">{{ id ? 'Edit' : 'Add' }} Bookmark</h4>

    <div class="rounded h-3/4 mb-4">
      @if (previewImage) {
        <img
          id="ImgPreview"
          class="w-full h-64 border-gray-300 border-dashed rounded-lg object-cover"
          [src]="previewImage"
          alt="" />
      } @else {
        <div class="flex items-center justify-center w-full">
          <label
            for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg
                class="w-8 h-8 mb-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
              </svg>
              <p class="mb-2 text-sm text-gray-500">
                <span class="font-semibold">Click to upload</span> or drag and drop
              </p>
              <p class="text-xs text-gray-500">
                SVG, PNG, JPG or GIF (MAX. 800x400px)
              </p>
            </div>
            <input
              id="dropzone-file"
              type="file"
              class="hidden"
              (change)="onFileSelected($event)"
              #fileInput />
          </label>
        </div>
      }
    </div>

    <form [formGroup]="bookmarkForm" class="mb-4">
      <fieldset class="fieldset">
        <label class="fieldset-legend text-sm" for="txtTitle">Title</label>
        <input
          formControlName="title"
          id="txtTitle"
          type="text"
          class="input focus:input-primary w-full" />
        @if (bookmarkForm.get('title')?.dirty || bookmarkForm.get('title')?.touched) {
          @if (bookmarkForm.get('title')?.hasError('required')) {
            <div class="fieldset-label text-red-600">Please enter title.</div>
          }
        }
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend text-sm" for="txtLink">Link</label>
        <input
          formControlName="link"
          type="url"
          id="txtLink"
          class="input focus:input-primary w-full" />
        @if (bookmarkForm.get('link')?.dirty || bookmarkForm.get('link')?.touched) {
          @if (bookmarkForm.get('link')?.hasError('required')) {
            <div class="fieldset-label text-red-600">Please enter link.</div>
          }
        }
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend text-sm" for="txtUrl">Tags</label>
        <input
          formControlName="tags"
          type="url"
          id="txtUrl"
          class="input focus:input-primary w-full mb-2"
          (keyup.enter)="onAddTag()" />

        <div class="flex flex-wrap gap-1">
          @for (tag of tags; track $index) {
            <div class="badge badge-primary badge-sm badge-dash rounded">
              {{ tag }}
              <button
                type="button"
                class="p-1 ms-1 rounded-full hover:text-black hover:cursor-pointer"
                (click)="removeTag(tag)">
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
              </button>
            </div>
          }
        </div>
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend text-sm" for="txtDescription">Description</label>
        <textarea
          formControlName="description"
          id="txtDescription"
          class="textarea focus:textarea-primary w-full"
          rows="5"></textarea>
      </fieldset>
    </form>

    <div class="flex justify-end gap-1">
      <button class="btn btn-ghost" (click)="onCancel()">Cancel</button>
      <button
        class="btn btn-primary"
        [disabled]="isSaving || bookmarkForm.invalid"
        (click)="onAdd()">
        @if (isSaving) {
          <span class="loading loading-xs loading-spinner"></span>
          Saving
        } @else {
          Save
        }
      </button>
    </div>
  </div>
</div>
