<div class="flex flex-col items-center justify-center min-h-screen gap-6">
  <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    <img class="w-8 h-8 mr-1" src="assets/logo.png" alt="logo" />
    Bookmarks
  </a>

  <p-card class="w-[34rem] md:w-[38rem] m-4 p-4 border border-gray-200">
    <h1 class="text-xl font-bold text-center">Sign in to your account</h1>

    <form class="grid gap-4 md:gap-6">
      <div class="space-y-1">
        <label for="txtEmail" class="block font-medium text-gray-900 dark:text-white">
          Email
        </label>
        <input pInputText id="txtEmail" type="text" class="w-full" />
      </div>

      <div class="space-y-1">
        <label for="txtPassword" class="block font-medium text-gray-900 dark:text-white">
          Password
        </label>
        <input pInputText id="txtPassword" type="password" class="w-full" />
      </div>

      <div class="flex justify-end">
        <p-button (click)="onLogin($event)">Sign in</p-button>
      </div>
    </form>
  </p-card>
</div>
