<div class="pt-3 pb-2">
  <bm-search-box>
    <button ngProjectAs="actionButtons" mat-flat-button color="primary" class="text-sm ms-1 w-32"
            (click)="onAdd($event)">
      <mat-icon>add</mat-icon>Add
    </button>
  </bm-search-box>

  @if (bookmarks$|async; as bookmarks) {
  @if(bookmarks.length > 0) {
  <cdk-virtual-scroll-viewport scrollWindow itemSize="150">
    <section *cdkVirtualFor="let bookmark of bookmarks; trackBy: trackByFn">
      <bm-bookmark-item [bookmark]="bookmark"
                        (removeBookmark)="removeBookmark($event)"
                        (toggleFavBookmark)="toggleFavBookmark($event)">
      </bm-bookmark-item>
    </section>
  </cdk-virtual-scroll-viewport>
  } @else {
  No data
  }
  }
</div>