<div class="pt-3 pb-2">
  <div class="flex mb-3">
    <input type="search"
           class="outline-none border-2 border-teal-400 focus:border-teal-600 rounded px-2 py-1 w-full me-1"
           placeholder="Search..." />

    <button mat-flat-button color="accent" class="text-sm w-36">
      <mat-icon>search</mat-icon>Search
    </button>

    <button mat-flat-button color="primary" class="text-sm ms-1 w-32" (click)="onAdd($event)">
      <mat-icon>add</mat-icon>Add
    </button>
  </div>

  <ng-container *ngIf="bookmarks.length > 0; else noBookmarks">
    <section *ngFor="let bookmark of bookmarks; trackBy: trackByFn">
      <bm-bookmark-item [bookmark]="bookmark"
                        (removeBookmark)="removeBookmark($event)">
      </bm-bookmark-item>
    </section>
  </ng-container>

  <ng-template #noBookmarks>
    No data
  </ng-template>
</div>