<mat-toolbar color="primary" class="z-0">
  <span class="flex items-center font-normal text-white text-xl">
    <a mat-button routerLink="/bookmarks">
      <mat-icon class="me-1">bookmark</mat-icon> Bookmarks
    </a>
  </span>

  <!-- Spacer -->
  <!-- <span class="flex flex-grow"></span>
  <h4 class="text-xl font-semibold">Add Bookmark</h4> -->

  <!-- Spacer -->
  <span class="flex flex-grow"></span>

  <a mat-icon-button routerLink="/fav-bookmarks">
    <mat-icon>favorite</mat-icon>
  </a>

  <a mat-icon-button
     (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>