<div class="flex bg-gray-50 mb-4 shadow-sm rounded border">
  <!-- Cover image -->
  <div class="p-2">
    <img src="assets/upload/butterfly-7416290_640.jpg" alt="" width="200" />
  </div>

  <!-- Content -->
  <div class="w-full ps-2">
    <div class="flex justify-between mt-2 me-3 mb-1">
      <div>
        <a [href]="bookmark.Links" target="_blank" class="text-black hover:text-violet-600">
          <h4 class="fw-bold fs-6 mb-0">{{ bookmark.Title }}</h4>
        </a>
      </div>
      <div>
        <small class="text-gray-400">{{ bookmark.BookmarkDate }}</small>
      </div>
    </div>

    <div>
      <!-- <mat-chip-list aria-label="Fish selection" class="tags">
        <ng-container *ngFor="let tag of getTags(bookmark.Tags)">
          <mat-chip
            color="warn"
            class="custom-chip-size"
            style="
              font-size: 10px;
              padding: 2px 5px;
              min-height: 22px;
              border-radius: 4px;
              color: #fff;
              background: #d9534f;
            "
          >
            {{ tag }}
          </mat-chip>
        </ng-container>
      </mat-chip-list> -->
    </div>

    <div class="mt-2 pe-1 text-gray-600 text-sm">
      {{ bookmark.Description }}
    </div>
  </div>
</div>