<div class="flex bg-gray-50 mb-4 shadow-sm rounded border">
  <!-- Cover image -->
  <div class="p-2">
    <img src="assets/upload/butterfly-7416290_640.jpg" alt="" width="200" />
  </div>

  <!-- Content -->
  <div class="w-full ps-2">
    <div class="flex justify-between mt-2 me-3 mb-1">
      <div>
        <a [href]="bookmark.Links" target="_blank" class="font-semibold hover:text-violet-600">
          <h4 class="fw-bold fs-6 mb-0">{{ bookmark.Title }}</h4>
        </a>
      </div>
      <div>
        <small class="text-gray-400 text-xs">{{ bookmark.BookmarkDate }}</small>
      </div>
    </div>

    <div>
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of getTags(bookmark.Tags)" class="text-xs">
          {{ tag }}
        </mat-chip>
      </mat-chip-listbox>
    </div>

    <div class="mt-2 pe-1 text-gray-600 text-sm">
      {{ bookmark.Description }}
    </div>

    <div *ngIf="bookmark.Likes" class="flex justify-end">
      <button mat-icon-button color="primary" (click)="onFav($event)">
        <mat-icon>star</mat-icon>
      </button>
    </div>
  </div>
</div>