<div class="flex items-center justify-center"
     style="height: 90vh">
  <div class="p-8 shadow-md shadow-violet-100 rounded-lg border w-5/12">
    <form>
      <h2 class="font-bold text-lg mb-5">Login</h2>

      <div class="mb-4">
        <input type="text" class="outline-none border-2 border-teal-400H focus:border-teal-600 rounded p-2 w-full"
               placeholder="User name" />
      </div>

      <div class="mb-4">
        <input type="password" class="outline-none border-2 border-teal-400H focus:border-teal-600 rounded p-2 w-full"
               placeholder="Password" />
      </div>

      <div class="flex justify-end">
        <button mat-flat-button color="primary" (click)="onLogin($event)">
          Login
        </button>
      </div>
    </form>
  </div>
</div>