<div class="flex items-center justify-center h-screen ">
  <div class="p-4 md:p-8 border rounded-md shadow w-full md:w-4/12 bg-white m-4">
    <form>
      <h2 class="font-bold text-2xl mb-5 text-center">Login</h2>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Email</label>
        <input type="text" class="outline-none border-2 focus:border-teal-600 rounded p-2 w-full"
               placeholder="" />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Password</label>
        <input type="password" class="outline-none border-2 focus:border-teal-600 rounded p-2 w-full"
               placeholder="" />
      </div>

      <div class="flex justify-end">
        <button mat-flat-button color="primary" class="w-full" type="button" (click)="onLogin($event)">
          Login
        </button>
      </div>
    </form>
  </div>
</div>