<div class="flex items-center justify-center"
     style="height: 90vh">
  <div class="p-8 shadow-md shadow-violet-100 rounded-lg border">
    <form>
      <h2 class="font-bold text-lg mb-5">Login</h2>

      <div class="mb-4">
        <input type="text" class="form-input rounded border-gray-300 w-[24rem] h-[38px]" placeholder="User name" />
      </div>

      <div class="mb-4">
        <input type="password" class="form-input rounded border-gray-300 w-[24rem] h-[38px]"
               placeholder="Password" />
      </div>

      <div class="flex justify-end">
        <button mat-flat-button color="primary" (click)="onLogin($event)">
          Login
        </button>
      </div>
    </form>
  </div>
</div>