<nav class="bg-white border-b border-gray-300">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-3">
    <a routerLink="/bookmarks" class="flex items-center space-x-1 rtl:space-x-reverse">
      <img class="w-5 h-5" src="assets/logo.png" alt="logo" />
      <span class="self-center text-lg font-medium whitespace-nowrap"> Bookmarks </span>
    </a>

    <!-- Search -->
    <bm-global-search />

    <div class="flex items-center md:order-2 space-x-2 gap-4 md:space-x-0 rtl:space-x-reverse">
      <!-- Add -->
      <button
        (click)="onAdd($event)"
        ngProjectAs="actionButtons"
        type="button"
        class="btn btn-primary btn-circle btn-sm">
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14m-7 7V5" />
        </svg>
      </button>

      <button
        id="user-menu-button"
        class="flex items-center text-sm pe-1 font-medium rounded-full hover:text-orange-600 md:me-0"
        type="button">
        <span class="sr-only">Open user menu</span>
        <div class="relative me-4">
          <img class="w-8 h-8 rounded-full" src="assets/profile.jpg" alt="profile image" />
          <span
            class="top-0 start-7 absolute w-3.5 h-3.5 status status-success border-2 border-white dark:border-gray-800 rounded-full"></span>
        </div>
        Sujeet Jaiswara
        <svg
          class="w-2.5 h-2.5 ms-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        class="z-50 hidden my-4 text-base list-none divide-y divide-gray-100 rounded-lg shadow"
        id="user-dropdown">
        <ul class="py-2">
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
              Dashboard
            </a>
          </li>
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
              Settings
            </a>
          </li>
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              href="#"
              (click)="onLogout($event)">
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
