<nav class="bg-white border-b border-gray-300 p-3">
  <div class="flex items-center justify-between w-full md:max-w-7xl mx-auto">
    <a
      routerLink="/bookmarks"
      class="flex items-center space-x-1 rtl:space-x-reverse text-orange-500">
      <img class="w-5 h-5" src="assets/logo.png" alt="logo" />
      <span class="self-center text-lg font-medium whitespace-nowrap dark:text-white">
        Bookmarks
      </span>
    </a>

    <div class="flex items-center gap-2">
      <p-button
        icon="pi pi-heart"
        [rounded]="true"
        severity="danger"
        variant="text"
        routerLink="/fav-bookmarks" />

      <p-button (click)="op.toggle($event)" [outlined]="true">
        <img class="w-6 h-6 rounded-full" src="assets/profile.jpg" alt="profile image" />
        Sujeet Jaiswara
        <i class="pi pi-angle-down"></i>
      </p-button>

      <p-popover #op>
        <ul>
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
              Dashboard
            </a>
          </li>
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
              Settings
            </a>
          </li>
          <li>
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              href="#"
              (click)="onLogout($event)">
              Sign out
            </a>
          </li>
        </ul>
      </p-popover>
    </div>
  </div>
</nav>
