<nav class="bg-white border-b border-gray-300">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-3">
    <a routerLink="/bookmarks" class="flex items-center space-x-1 rtl:space-x-reverse">
      <img class="w-5 h-5" src="assets/logo.png" alt="logo" />
      <span class="self-center text-lg font-medium whitespace-nowrap"> Bookmarks </span>
    </a>

    <!-- Search -->
    <bm-global-search />

    <div class="flex items-center md:order-2 space-x-2 gap-4 md:space-x-0 rtl:space-x-reverse">
      <!-- Add -->
      <button
        (click)="onAdd($event)"
        ngProjectAs="actionButtons"
        type="button"
        class="btn btn-primary btn-circle btn-sm">
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14m-7 7V5" />
        </svg>
      </button>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" src="assets/profile.jpg" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a>Profile</a></li>
          <li><a>Settings</a></li>
          <li><a href="#" (click)="onLogout($event)">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
