<div class="p-2">
  <bm-search-box>
    <button
      (click)="onAdd($event)"
      ngProjectAs="actionButtons"
      type="button"
      class="px-3 py-2 text-sm font-medium text-white inline-flex items-center bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 rounded-lg text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
      <svg
        class="w-4 h-4 me-1 text-gray-50 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5" />
      </svg>
      Add
    </button>
  </bm-search-box>

  @if (isLoading()) {
    <div class="flex justify-center items-center p-6">
      Loading....
    </div>
  }@else {
    @if (bookmarksService.bookmarks$(); as bookmarks) {
      @if (bookmarks.length > 0) {
        <cdk-virtual-scroll-viewport scrollWindow itemSize="156">
          <section *cdkVirtualFor="let bookmark of bookmarks; trackBy: trackByFn">
            <bm-bookmark-item
              [bookmark]="bookmark"
              (removeBookmark)="removeBookmark($event)"
              (toggleFavBookmark)="toggleFavBookmark($event)">
            </bm-bookmark-item>
          </section>
        </cdk-virtual-scroll-viewport>
      } @else {
        No data
      }
    }
  }  
</div>
