<div class="flex mb-3 gap-2">
  <input type="search" class="input" placeholder="Search..." />
  <button
    type="button"
    class="px-3 py-2 text-sm font-medium text-white inline-flex items-center bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-lg text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
  >
    <svg
      class="w-4 h-4 me-1 text-gray-50 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
      />
    </svg>
    Search
  </button>

  <ng-content select="actionButtons"></ng-content>
</div>
